@import './components/navbar.scss';
@import './components/catalogue.scss';
@import './components/store.scss';
@import url('./components/login.scss');
@import url('./components/register.scss');
@import url('./components/freelancer.scss');
@import url('./components/conocenos.scss');
@import url('./components/news.scss');
@import url('./components/modalPayPal.scss');
@import url('./components/sectorTec.scss');
@import url('./components/cherryTech.scss');
@import url('./components/cherryTech2.scss');
@import url('./components/sectorAmb.scss');
@import url('./components/panleStart.scss');
@import url('./components/postUsers.scss');
@import url('./components/sectorCom.scss');
@import url('./components/sectoLog.scss');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}