
.Catalogues{
    width: 100%;
    height: 100vh;
    overflow: auto; 
    background-color: #ebebeb;
    .contSearch{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .search{
            width: 500px;
            height: 50%;
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            input{
                text-align: center;
                border-radius: 15px;
                width: 100%;
                height: 100%;
                border: 1px solid rgb(88, 88, 88);
            }
            .icon{
                position: relative;
                left: -5%;
            }
        }
    }
    .contStore{
        width: 100%;
        height: 70%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .contFilters{
            width: 10%;
            height: 80%;
            border-radius: 15px;
        }
        .contProducts{
            width: 80%;
            height: 90%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            .iconReload{
                width: 20%;
                height: 20%;
                animation: reload 2s infinite;
            }
            @keyframes reload {
                0%{
                    transform: rotate(-180deg);
                }
            }
        }
    }
    .contNews{
        width: 100%;
        height: 80%;
    }
    .contModal{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: transparent;
        backdrop-filter: blur(15px);
        top: 0%;
        .contBtnHead{
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            .icon{
                width: 5%;
                height: 50%;
                border-radius: 50%;
                cursor: pointer;
                color: rgba(255, 0, 0, 0.5);
                transition: color 0.2s;
            }
            .icon:hover{
                color: #D7D7D7;
            }
        }
        .form{
            width: 50%;
            height: 80%;
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 20px;
            
            border-radius: 15px;
            background-color: #ffdd02d4;
            .contRow{
                width: 100%;
                height: 15%;
                margin: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                p{
                    font-size: 20px;
                }
                b{
                    font-size: 20px;
                }
                
            }
            .price{
                justify-content: center;
                gap: 5px;
            }
            .rating{
                .contIcons{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .icon{
                        width: 10%;
                        height: 30%;
                    }
                    .iconPerfect{
                        width: 10%;
                        height: 30%;
                        color: rgb(255, 255, 255);
                    }
                }
                .contBtn{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    button{
                        width: 40%;
                        height: 40%;
                        border: 1px solid transparent;
                        border-radius: 10px;
                        background-color: rgb(255, 255, 255);
                        transition: all 0.2s;
                        cursor: pointer;
                        text-align: center;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                    }
                    button:hover{
                        background-color: transparent;
                        border: 1px solid rgb(36, 36, 36);
                    }
                }
                
            }
            .contOptionsForm{
                width: 100%;
                height: 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                button{
                    width: 20%;
                    height: 100%;
                    cursor: pointer;
                    border-radius: 10px;
                    border: 1px solid transparent;
                    background-color: rgb(255, 0, 0, 0.5);
                    transition: all 0.1s;
                    
                }
                button:hover{
                    width: 25%;
                    background-color: transparent;
                    border: 1px solid black;
                }
            }
        }
    }
}
.Catalogues::-webkit-scrollbar {
    display: none;
}
@media (max-width: 600px) {
    .Catalogues{
        .contSearch{
            flex-direction: column;
            .search{
                width: 80%;
            }
            h3{
                font-size: 12px;
            }
        }
        .contStore{
            flex-direction: column;
            .contFilters{
                height: 20%;
                width: 90%;
            }
            .contProducts{
                .contStorePro{
                    background-color: #fff;
                    margin: 10px;
                }
            }
        }
        .contModal{
            .form{
                width: 80%;
                .contRow{
                    font-size: 12px;
                    p{
                        font-size: 12px;
                    }
                }
                .rating{
                    .contBtn{
                        button{
                            width: 70%;
                            font-size: 9px;
                        }
                    }
                }
            }
        }
        .contModalN{
            .contBody{
                width: 90%;
            }
        }
    }
}