$base-color1: #FFDE02;
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

$bg: #f3f8fa;
$white: #fff;
$black: #cf5757;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
.Cursos{
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #262626;
    .contHeader{
        width: 100%;
        height: 30%;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: transparent;
        .learn-more{
                position: relative;
                display: inline-block;
                cursor: pointer;
                outline: none;
                border: 0;
                vertical-align: middle;
                text-decoration: none;
                background: transparent;
                padding: 0;
                font-size: inherit;
                font-family: inherit;
                text-decoration: none;
                color: white;
                &.learn-more {
                  width: 12rem;
                  height: auto;
                  .circle {
                    @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                    position: relative;
                    display: block;
                    margin: 0;
                    width: 3rem;
                    height: 3rem;
                    background: $black;
                    border-radius: 1.625rem;
                    .icon {
                      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                      background: $white;
                      &.arrow {
                        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                        left: 0.625rem;
                        width: 1.125rem;
                        height: 0.125rem;
                        background: none;
                        &::before {
                          position: absolute;
                          content: '';
                          top: -0.25rem;
                          right: 0.0625rem;
                          width: 0.625rem;
                          height: 0.625rem;
                          border-top: 0.125rem solid #fff;
                          border-right: 0.125rem solid #fff;
                          transform: rotate(230deg);
                        }
                      }
                    }
                  }
                  .button-text {
                    @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0.75rem 0;
                    margin: 0 0 0 1.85rem;
                    color: white;
                    font-weight: 700;
                    line-height: 1.6;
                    text-align: center;
                    text-transform: uppercase;
                  }
                }
                &:hover {
                  .circle {
                    width: 100%;
                    .icon {
                      &.arrow {
                      background: $white;
                      transform: translate(1rem, 0);
                      }
                    }
                  }
                  .button-text {
                    color: $white;
                  }
                }
        }
        h1{
            font-size: 30px;
            color: #FFDE02;
            width: 50%;
            margin-left: 10%;
        }
        p{
            width: 50%;
            font-size: 12px;
            color: #b8b8b8;
            
            margin-left: 10%;
        }
        b{
            width: 40%;
            font-size: 15px;
            color: #cecece;
            margin-top: 10px;
            margin-left: 10%;
        }
    }
    .contBody{
        width: 100%;
        height: 120%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        
        .contImg{
            width: 50%;
            margin-left: 10%;
            height: 96%;
            border-radius: 10px;
            
            box-shadow:  5px 5px 8px #cfcfcf,
                        -5px -5px 8px #ffffff;
            img{
                width: 100%;
                height: 100%;
                
                border-radius: 10px;
            }
        }
    }
    .contInfo{
        width: 350px;
        height: 500px;
        
        border-radius: 10px;
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow:  3px 3px 5px #cfcfcf,
                    -3px -3px 5px #dbdbdb;
        position: fixed;
        top: 20%;
        left: 70%;
        .contHead{
            
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                color: #afafaf;
            }
            h4{
                color: rgba(255, 0, 0, 0.418);
                font-size: 25px;
            }
            b{
                color: #afafaf;
                text-decoration: line-through;
            }
        }
        .contText{
            
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                font-size: 12px;
                margin: 20px;
                text-align: center;
            }
            b{
                color: #b8b8b8;
                font-size: 12px;
            }
        }
        .contFooter{
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            button{
                width: 150px;
                transition: all 0.2s;
                color: rgb(50, 50, 50);
                cursor: pointer;
                
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 40px;
                background-color: #FFDE02;
                border: 1px solid transparent;
                border-radius: 5px;
                box-shadow:  3px 3px 5px #afafaf,
                            -3px -3px 5px #989898;
                &:hover{
                    width: 190px;
                    background-color: transparent;
                    border: 3px solid #FFDE02;
                    box-shadow: none;
                }
            }
            p{
                font-size: 12px;
                margin-top: 10px;
                color: #b8b8b8;
            }
        }
    }
}

@media (max-width: 600px) {
    .Cursos{
        .contHeader{

            h1{
                font-size: 15px;
                width: 100%;
            }
            p{
                font-size: 8px;
                width: 80%;
            }
            b{
                font-size: 12px;
                width: 100%;
            }
        }
        .contBody{
            .contImg{
                margin-left: 3%;
                width: 350px;
                height: 600px;
            }
        }
        .contInfo{
            position: relative;
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            border-radius: 0px;
        }
    }
}