.contModalN{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    h3{
        margin-bottom: 40px;
        border-bottom: 1px solid black;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contBodyPay{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: auto;
        .contPayPal{
            width: 30%;
            height: 80%;
            overflow: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .contHead{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 80%;
            .contBtnWompi{
            overflow: hidden;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            text-decoration: none;
            justify-content: center;
             width: 300px;
             height: 50px;
             background-color: #ffc439;
             border-radius: 25px;
             color: black;
             
             font-size: 20px;
             font-family: 'Times New Roman', Times, serif;
             img{
                width: 15%;
                border-radius: 50%;
                height: 80%;
                margin: 10px;
             }
             
             &:hover{
                opacity: 80%;
            }
            }
            .btnBinance{
                width: 300px;
                height: 50px;
                border-radius: 40px;
                margin: 10px;
                cursor: pointer;
                border: none;
                text-align: center;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                background-color: #ffc439;
                color: rgb(0, 0, 0);
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
                img{
                    width: 13%;
                    height: 80%;
                    margin: 10px;
                    border-radius: 50%;
                }
                &:hover{
                    opacity: 80%;
                }

            }
            
        }
        
    }
    .contBtns{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 10%;
        .btnCerrar{
            width: 20%;
            height: 50%;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            background-color: rgba(255, 0, 0, 0.5);
        }
        
    }
}
@media (max-width: 600px) {
    .contModalN{
        .contBodyPay{
            flex-direction: column;
            .contHead{
                height: 30%;
            }
            .contPayPal{
                width: 80%;
                width: 70%;
            }
        }
    }
}