.contNews{
    width: 100%;
    height: 100%;
    overflow: auto;
    .contPanel{
        width: 100%;
        height: 50%;
        .contImg{
            width: 100%;
            height: 100%;
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 80%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
    .contBody{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        animation: animBitcoin 0.5s ease-in;
        .contPanelNews{
            width: 70%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .contNewsImport{
                width: 100%;
                height: 40%;
                .contCardPreste{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .contImg{
                        width: 35%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;   
                        }
                    }
                    .contBody{
                        width: 60%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-bottom-right-radius: 10px;
                        border-top-right-radius: 10px;
                        text-align: center;
                        p{
                            margin: 5px;
                            font-size: 12px;
                        }
                        #fecha{
                            color: #b1b1b1;
                        }
                        background-color: rgba(199, 199, 199, 0.5);
                    }
                    
                }
            }
            .contNewsWeek{
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .contCardPreste{
                    width: 20%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .contImg{
                        width: 100%;
                        height: 60%;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }
                    .contBody{
                        width: 100%;
                        height: 40%;
                        font-size: 12px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        text-align: center;
                        p{
                            color: #b1b1b1;
                        }
                    }
                }
            }
        }
        .contBitCoin{
            width: 20%;
            height: 90%;
            overflow: auto;
            
            .ApiBitcoins{
                width: 100%;
                height: 100%;
                .contTableBit{
                    width: 100%;
                    height: 100%;
                    table{
                        width: 100%;
                        height: 100%;
                        thead{
                            width: 100%;
                            height: 5%;
                            background-color: #FFDE02;
                            tr, th{
                                font-size: 12px;
                            }
                        }
                        tbody{
                            width: 100%;
                            height: 90%;
                            
                            
                            tr{
                                width: 100%;
                                height: 10%;
                                img{
                                    width: 40px;
                                    height: 50%;
                                }
                                td{
                                    text-align: center;
                                    font-size: 14px;
                                }
                                #name{
                                    color: #424242;
                                }
                                #price{
                                    color: #000000;
                                }
                                #true{
                                    color: rgba(0, 128, 0, 0.5);
                                }
                                #false{
                                    color: rgba(255, 0, 0, 0.5);
                                }    
                            }
                        }
                    }
                }
            }
        }
    }
}
.contNews::-webkit-scrollbar {
    display: none;
}
.contBitCoin::-webkit-scrollbar {
    display: none;
}
@keyframes animBitcoin {
    0%{
        margin-left: 50px;
    }
    100%{
        margin-left: 0px;
    }
}