.News{
    width: 100%;
    height: 100vh;
    overflow: auto;
    .contNews{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .contBody{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .contGraphD{
                width: 40%;
                height: 60%;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: height 0.2s;
                box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
                .contBody{
                    width: 90%;
                    height: 90%;
                }
                &:hover{
                    height: 63%;
                }
            }
            .contGraphBit{
                width: 30%;
                height: 50%;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .contBody{
                    width: 90%;
                    height: 90%;
                }
                transition: height 0.2s;
                box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
                &:hover{
                    height: 53%;
                }
            }
        }
    }
    .ApiBitcoins{
        width: 100%;
        height: 100%;
        .contTableBit{
            width: 100%;
            height: 100%;
            table{
                width: 100%;
                height: 100%;
                border-collapse: collapse;
                thead{
                    width: 100%;
                    height: 10%;
                    background-color: #FFDE02;
                    tr{
                        margin: 0px;
                        th{
                            font-size: 12px;
                            height: 40px;
                        }
                    }
                }
                tbody{
                    width: 100%;
                    height: 90%;
                    tr{
                        width: 100%;
                        height: 10%;
                        text-align: center;
                        #p{
                            font-size: 12px;
                            color: rgb(168, 168, 168);
                        }
                        img{
                            width: 40px;
                            height: 50%;
                        }
                        td{
                            text-align: center;
                            font-size: 14px;

                        }
                        #name{
                            color: #424242;
                        }
                        #price{
                            color: #000000;
                        }
                        #true{
                            color: rgba(0, 128, 0, 0.5);
                        }
                        #false{
                            color: rgba(255, 0, 0, 0.5);
                        }    
                    }
                }
            }
        }
    }
    @media (max-width: 600px){
        
        .contNews{
            .contBody{
                .contGraphD{
                    width: 90%;
                    height: 80%;
                    .contBody{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        
        .ApiBitcoins{
            .contTableBit{
                table{
                    thead{

                        tr{
                            th{
                                font-size: 9px;
                            }
                        }
                    }
                    tbody{
                        tr{
                            font-size: 5px;
                            td{
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}